.slider-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  grid-gap: 8px;
  border-radius: 50px;
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #02010A;
}

.cardRingMagic {
  background-color: #DEAAFF;
  background-image: url('../../assets/fundoCardCoringa.png');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  height: 494px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Unbounded', sans-serif;
  color: #10002B;
  text-align: center;
}

.cardRingMagic h4 {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Unbounded', sans-serif;
  margin: 4px 0;
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

@media (min-width: 768px ) and (max-width: 1200px) {
  .cardRingMagic {
    height: 37rem;
  }
}

@media (max-width: 768px) {
  .cardRingMagic {
    padding: 15px;
    max-width: 90%;
    max-height: 100%;
    height: 35rem;
  }
  
  .cardRingMagic h4 {
    font-size: 1.4rem;
  }
  .slider-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .cardRingMagic {
    padding: 10px;
    max-width: 95%;
  }
  
  .cardRingMagic h4 {
    font-size: 1rem;
  }

}